# Python
__pycache__/
*.pyc
.venv/

# Env (secrets y locales)
.env
.env.*

# [FIX] Permitimos commitear plantillas (enterprise)
!.env.example
!.env.*.example

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
